[package]
name = "leroyjenkins"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
mini-moka = "0.10.2"
log = "0.4"
pretty_env_logger = "0.5"
rustc-hash = "1.1.0"
clap = { version = "4.4.2", features = ["derive"] }
ipset = "0.4.0"
