[Unit]
Description=Leeeeeeeroy Jenkins
After=network.target

[Service]
User=root
Group=root
ExecStart=/home/leroyjenkins/wrapper.sh
WorkingDirectory=/home/leroyjenkins
Restart=always

[Install]
WantedBy=multi-user.target
